.App {
  text-align: center;
}

.App-header {
  background-color: #ff5000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*Estilos de Búsqueda y Filtro*/

.form{
  margin-top: 10px;
}

.div_filtro{
  align-items: center;
  float:left;
  padding: 10px;
  border: 3px;
}

.titulo1 {
  color: #ff5000;
  text-shadow: 0 0 2px black;
}

/*Estilos ListaPeliculas.js */

.peliculasgrid{
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  min-height: 72vh;
  background-image: url("./imagenes/background_oranges.png");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  
}

.hide{
  display: none;
  border-radius: 0px 0px 15px 15px;
}

.peliculas:hover + .hide{
  display:block;
  background: #ff5000;
  color:white;
  padding-bottom: 10px;
}

.peliculaseleccionada{
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
